<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th>Email</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <td class="pr-4"><%= friend.full_name %></td>
          <td class="pr-4"><%= friend.email %></td>
          <td class="d-flex justify-content-around">
            <%= link_to 'View Profile', user_path(friend), class: "btn btn-primary btn-sm" %>
            <% if current_user.not_friends_with?(friend.id) %>
              <%= link_to 'Follow user?', friendships_path(friend: friend), class: "btn btn-success btn-sm", data: { turbo_method: :post } %>
            <% else %>
              <span class="badge badge-secondary d-flex align-items-center" style="height: 25px;">You are friends</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>