<h1>Forum</h1>

<div class="d-flex bg-light overflow-auto mb-2" id="messages-wrapper" style="height: 60vh">
  <div class="p-4" id="messages-container">
    <%# <% if @messages.exists? %>
      <% @messages.each do |message| %>
        <%= render 'stocks/messages', message: message %>
      <% end %>
    <%# <% else %>
      <%# <p class="lead d-flex justify-content-center mt-4">No messages to show! Start a conversation!</p> %>
    <%# <% end %>
  </div>
</div>

<div>
  <%= form_tag "javascript:void(0)", remote: true, method: :get do %>
    <div class="form-group row">
      <%= text_field_tag :message, params[:stock], placeholder: "Enter message", class: "form-control form-control-lg col-sm-10 mr-3 ml-4", id: "message-value" %>
      <%= button_tag type: :submit, class: "btn btn-success col-sm-1", id: "enter-message", data:{ url: forum_submit_stocks_path, stock_id: @stock } do %>
        Enter
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $("#enter-message").on("click", function(event) {
    var divToChange = jQuery("#messages-container");
    var button = jQuery("#enter-message");
    var message = jQuery("#message-value").val();
    if(message == "") {
      return false;
    }
    var messageWrapper = jQuery("#messages-wrapper");
    jQuery.ajax({
      url: button.data("url"),
      data: { message: message, stock_id: button.data("stock-id") },
      method: 'GET',
      success: function(result) {
        debugger;
        if(result.includes("Failed"))
          window.location.href = "/my_portfolio"
        else {
          <%# if(divToChange.text != "No messages to show! Start a conversation!") {
            divToChange.html(result);
          }
          else {
            divToChange.append(result);
          } %>
          divToChange.append(result);
          jQuery(messageWrapper).scrollTop(messageWrapper.prop("scrollHeight"));
          jQuery("#message-value").val("");
        }
      }
    })
  })
<% end %>