<h1>Friends</h1>

<div class="search-area">
  <h3>Search users</h3>
  <%= form_tag "javascript:void(0)", remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-11 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg", id: "user-input" %>
      </div>
      <div class="col-sm-1 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success", id: "form-submit-button-friends", data: { url: search_user_path } do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="results-spinner-friends" style="display: none;">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div id="friend-results">
</div>

<h3 style="padding-top: 10px;">My Friends</h3>

<% if !@friends.empty? %>
  <%= render 'friends/friends_list' %>
<% end %>